@model EventManagerASP.Models.Event

@{
    ViewData["Title"] = "Event Details";
}

<h1>@Model.Name</h1>

<div id="event-details">
    <p>@Model.Description</p>
    <p>Start Date: @Model.StartDate</p>
    <p>End Date: @Model.EndDate</p>
    <p>Category: @Model.Category.Name</p>
</div>

<button id="load-more-details" data-ajax="true" data-ajax-method="GET" data-ajax-url="@Url.Action("MoreDetails", "Events", new { id = Model.Id })" data-ajax-update="#more-details">Load More Details</button>

<div id="more-details"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}